.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height 500ms ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("../../lib/owlCarousel/assets/owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-bottom: 10px;
    background: #fff
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}

.owl-customDots.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0
}

.owl-customDots.owl-theme .owl-dots .owl-dot span {
    height: 2px;
    border-radius: 0;
    opacity: .5;
    background: #fff;
    margin: 0 2px
}

.owl-customDots.owl-theme .owl-dots .owl-dot.active span,
.owl-customDots.owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

#cboxWrapper {
    max-width: none
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}

#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left
}

#cboxContent {
    position: relative
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

#cboxTitle {
    margin: 0
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

#cboxOverlay {
    background: #000;
    opacity: .9;
    filter: alpha(opacity=90)
}

#colorbox {
    outline: 0
}

#cboxContent {
    overflow: visible;
    background: #fff
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    background: #fff
}

#cboxLoadingGraphic {
    background: url(../images/colorbox/loading.gif) no-repeat center center
}

#cboxLoadingOverlay {
    background: #fff
}

#cboxTitle {
    position: absolute;
    top: -22px;
    left: 0;
    color: #000
}

#cboxCurrent {
    position: absolute;
    top: -22px;
    right: 205px;
    text-indent: -9999px
}

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    background: url(../images/colorbox/controls.png) no-repeat 0 0
}

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0
}

#cboxPrevious {
    background-position: 0 0;
    right: 44px
}

#cboxPrevious:hover {
    background-position: 0 -25px
}

#cboxNext {
    background-position: -25px 0;
    right: 22px
}

#cboxNext:hover {
    background-position: -25px -25px
}

#cboxClose {
    background-position: -50px 0;
    right: 0
}

#cboxClose:hover {
    background-position: -50px -25px
}

.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
    right: 66px
}

.cboxSlideshow_on #cboxSlideshow {
    background-position: -75px -25px;
    right: 44px
}

.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -100px -25px
}

.cboxSlideshow_off #cboxSlideshow {
    background-position: -100px 0;
    right: 44px
}

.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -75px -25px
}

.cls {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 999
}

.cls:before {
    content: "×";
    font-size: 32px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: Tahoma;
    display: block
}

#popupbox {
    width: 800px;
    position: relative;
    background-color: #fff
}

#popupbox>b {
    text-align: center;
    font-size: 20px;
    padding: 15px 0 12px 0;
    display: block;
    background-color: #333;
    margin-bottom: 15px;
    color: #fff
}

#popupbox>label {
    padding: 15px 0;
    display: block;
    text-align: center
}

#popupbox.login {
    width: 500px
}

#popupbox.login>div {
    padding: 0 15px;
    text-align: center
}

#popupbox.login>div>* {
    display: block
}

#popupbox.login>div>span {
    margin-bottom: 10px;
    line-height: 1.4
}

#popupbox.login>div>button {
    display: inline-block;
    vertical-align: top
}

#popupbox.verify {
    width: 500px;
    text-align: center
}

#popupbox.verify>p {
    padding: 0 10px;
    text-align: center;
    line-height: 1.4
}

#popupbox.verify>div.info {
    padding: 10px 15px;
    background-color: #f1f1f1;
    text-align: center;
    margin: 10px 0
}

#popupbox.verify>div.info>* {
    display: inline-block;
    vertical-align: middle
}

#popupbox.verify>div.info>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px
}

#popupbox.verify>div.info>span {
    text-align: left;
    line-height: 1.4
}

#popupbox.verify>form {
    padding: 0 10px;
    text-align: center
}

#popupbox.verify>form>* {
    display: block
}

#popupbox.verify>form>b {
    text-align: center;
    font-weight: normal;
    font-size: 16px
}

#popupbox.verify>form>input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    width: 68%;
    padding: 0 2%;

    margin: 5px auto
}

#popupbox.verify>form>button {
    display: inline-block
}

#popupbox.verify>form>a {
    padding-top: 10px;
    color: #0521ff
}

#popupbox.verify>form>p {
    padding: 0 10px;
    line-height: 1.5
}

#popupbox.user-list>form {
    text-align: center
}

#popupbox.user-list>form>* {
    display: inline-block;
    vertical-align: middle
}

#popupbox.user-list>form>span {
    text-align: right;
    width: 180px
}

#popupbox.user-list>form>span>b {
    display: block;
    font-size: 16px
}

#popupbox.user-list>form>div>* {
    display: inline-block;
    vertical-align: middle
}

#popupbox.user-list>form>div.ul-key {
    margin: 0 10px;
    position: relative
}

#popupbox.user-list>form>div.ul-key>input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;

    padding: 0 30px 0 10px;
    display: block
}

#popupbox.user-list>form>div.ul-key>button {
    position: absolute;
    width: 16px;
    height: 16px;
    background: transparent url(../images/icon/btn-search.png) no-repeat center top;
    right: 9px;
    top: 8px;
    border: none;
    cursor: pointer
}

#popupbox.user-list>div {
    padding: 0 10px;
    position: relative;
    max-height: 295px;
    overflow: hidden;
    margin: 15px 0
}

#popupbox.user-list>div>table {
    width: 100%
}

#popupbox.user-list>div>table th {
    padding: 7px 10px;
    background-color: #f1f1f1;
    font-size: 13px;
    text-align: left
}

#popupbox.user-list>div>table th.tc {
    text-align: center
}

#popupbox.user-list>div>table td {
    padding: 10px;
    border-bottom: 1px solid #ccc
}

#popupbox.user-list>div>table td>a {
    color: #0091fb
}

#popupbox.user-list>div>table td>a>b {
    font-weight: normal
}

#popupbox.user-list>div>table td.check>b {
    color: #63bb02;
    background: transparent url(../images/general/iconcheckout@2x.png) no-repeat left center;
    background-size: 260px 50px;
    background-position: -165px -25px;
    display: inline-block;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    font-weight: normal;
    font-size: 13px
}

#popupbox.user-list>div>table td.tc {
    text-align: center
}

#popupbox.user-list>a.showmore {
    width: 150px;
    display: block;
    margin: 0 auto 15px auto;
    background-color: #ff6a00;
    color: #fff;
    text-align: center;
    height: 30px;
    line-height: 32px;
    font-size: 13px
}

#popupbox.user-list>div>p {
    padding: 15px 0 35px 0;
    font-size: 17px;
    text-align: center
}

#popupbox.history {
    width: 500px
}

#popupbox.history .his-profile {
    margin: -5px 0 10px 0
}

#popupbox.history .his-profile>* {
    display: inline-block;
    vertical-align: middle
}

#popupbox.history .his-profile>img {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 50%
}

#popupbox.history .his-profile>span>* {
    display: block
}

#popupbox.history .his-profile>span>a {
    color: #09f;
    font-size: 16px
}

#popupbox.history .his-profile>span>a>i {
    font-size: 13px;
    font-style: normal
}

#popupbox.history .his-profile>span>span {
    padding-top: 3px
}

#popupbox .content {
    position: relative;
    overflow: hidden;
    padding: 5px 15px;
    max-height: 350px
}

#popupbox .content>* {
    font-size: 15px;
    line-height: 1.5 !important;
    margin-bottom: 10px
}

#popupbox .content a {
    color: #09f
}

.scroll {
    overflow: hidden;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: chained
}

@media screen and (max-width:640px) {
    #popupbox {
        width: 460px !important
    }

    #popupbox.user-list>form>* {
        display: block;
        margin-bottom: 5px
    }

    #popupbox.user-list>form>span {
        text-align: center;
        width: auto
    }

    #popupbox.user-list>form>span>b {
        display: inline-block;
        margin-right: 5px
    }

    #popupbox.user-list>form>div.ul-key {
        width: 262px;
        margin: 0 auto 5px auto
    }

    #popupbox.user-list>form>div.ul-key>input {
        width: 220px
    }

    #popupbox.user-list>div>table th:first-child,
    #popupbox.user-list>div>table td:first-child {
        text-align: left
    }

    #popupbox.user-list>div>table th:last-child {
        width: 110px
    }

    #popupbox.user-list>div {
        padding: 0 5px
    }
}

@media screen and (max-width:480px) {
    #popupbox>b {
        font-size: 16px;
        font-weight: normal
    }
}

@media screen and (max-width:414px) {
    #popupbox {
        width: 394px !important
    }
}

@media screen and (max-width:384px) {
    #popupbox {
        width: 364px !important
    }
}

@media screen and (max-width:375px) {
    #popupbox {
        width: 355px !important
    }
}

@media screen and (max-width:360px) {
    #popupbox {
        width: 340px !important
    }
}

@media screen and (max-width:320px) {
    #popupbox {
        width: 300px !important
    }
}

/*! perfect-scrollbar - v0.5.7
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyunje Alex Jun; Licensed MIT */
.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block
}

.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    height: 8px
}

.ps-container>.ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    width: 8px
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    width: 8px
}

.ps-container>.ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.ps-container:hover>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-y-rail {
    opacity: .6;
    -ms-filter: "alpha(Opacity=60)";
    filter: alpha(opacity=60)
}

.ps-container:hover>.ps-scrollbar-x-rail.in-scrolling,
.ps-container:hover>.ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.ps-container:hover>.ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    background-color: #999
}

.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: .9;
    -ms-filter: "alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #300
}

.ps-scrollbar-x-rail {
    display: none !important
}

* {
    box-sizing: border-box
}

.owl-carousel.listproduct .item {
    width: auto
}

.owl-carousel.listproduct .item:first-child {
    border: none
}

.owl-carousel.listproduct .owl-wrapper {
    display: flex !important
}

.owl-carousel.listproduct .owl-item {
    display: flex
}

.owl-carousel.listproduct .item {
    width: 100%
}

.owl-carousel.listproduct .owl-item:first-child {
    border-left: 1px solid #f1f1f1
}

.owl-carousel.listproduct .owl-item {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1
}

.owl-carousel .owl-buttons div {
    background: rgba(255, 255, 255, .9) !important;
    height: 60px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2
}

.owl-carousel .owl-buttons div::before {
    border-top: 3px solid #666;
    border-right: 3px solid #666;
    content: '';
    height: 22px;
    position: absolute;
    top: 18px;
    width: 22px
}

.owl-carousel .owl-prev {
    box-shadow: 6px 0 4px rgba(0, 0, 0, .05), 4px 0 4px rgba(0, 0, 0, .09);
    border-radius: 0 4px 4px 0;
    left: 0
}

.owl-carousel .owl-next {
    box-shadow: -6px 0 4px rgba(0, 0, 0, .05), -4px 0 4px rgba(0, 0, 0, .09);
    border-radius: 4px 0 0 4px;
    right: 0
}

.owl-carousel .owl-prev::before {
    left: 10px;
    transform: rotate(-135deg)
}

.owl-carousel .owl-next::before {
    transform: rotate(45deg);
    right: 8px
}

